@model Dictionary<object, string>
@using RatherThis.Models
@{
    ViewBag.Title = "Latest";
}

@foreach (var keyValue in Model)
{
    
    
        if (keyValue.Value == "question")
        {
            var q = (QuestionDisplayViewModel)keyValue.Key;
            var questionContainerId = string.Format("question-container-{0}", q.QuestionId);
            
            <div id="@questionContainerId" class="question-container">
                @{Html.RenderPartial("_QuestionDisplay", q);}
            </div>
        }
        else
        {
            var q = (AnswerDisplayViewModel)keyValue.Key;
            var questionContainerId2 = string.Format("question-container-{0}", q.QuestionId);
            
            <div id="@questionContainerId2" class="question-container">
                @{Html.RenderPartial("_AnswerDisplay", q);}
            </div>
        }
    
   
}

