@model RatherThis.Models.ForgotPasswordViewModel
           
@{
    ViewBag.Title = "Forgot Password | RatherThis";
}
<div class="forgot-pw-form">

@using (Html.BeginForm())
{
    <div class="left">
        <h2>Forgot Password</h2>
        @Html.ValidationSummary()
        <div>
            <div class="editor-label">
                @Html.LabelFor(e => e.Email)*
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(e => e.Email)
            </div>

            <input type="submit" value="Send reset password request" />
        </div>
    </div>
    
    <div class="right">
    </div>
     
    <div class="clear"></div>
}


</div>
