@{
    ViewBag.Title = "Reset Password Thank You | RatherThis";
}

<div class="forgot-pw-form">


    <div class="left">
        <h2>Reset Complete</h2>
        <p><a href="@Url.Action("LogOn")">Click here to login with your shiny new password!</a></p>
    </div>
    
    <div class="right">
    </div>
     
    <div class="clear"></div>

</div>


