<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="EFDbContext"
         connectionString="Data Source=sexy-pc;Initial Catalog=RatherThis;Persist Security Info=True;User ID=sa;Password=root"
         providerName="System.Data.SqlClient"/>
    
    <!-- PRODUCTION -->
    <!--<add name="EFDbContext"
         connectionString="Data Source=tcp:s07.winhost.com;Initial Catalog=DB_36055_ratherthis;User ID=DB_36055_ratherthis_user;Password=cxzswdmzzd;Integrated Security=False;"
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <location path="channel.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Expires" value="Tue, 01 Jan 2030 16:00:00 GMT" />
        </customHeaders>
      </httpProtocol> 
    </system.webServer>
  </location>

  <appSettings>    
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!-- custom email settings -->
    <add key="SmtpUsername" value="no-reply@ratherthis.com"/>
    <add key="SmtpPassword" value="cxzswdmzzd"/>
    <add key="SmtpServerName" value="mail.ratherthis.com"/>
    <add key="SmtpServerPort" value="587"/>
    <add key="SmtpUseSsl" value="false"/>
    <add key="SmtpWriteAsFile" value="false"/>

    <!-- added for CustomMembershipProvider exception -->
    <add key="enableSimpleMembership" value="false"/>
    <add key="autoFormsAuthentication" value="false"/>
  </appSettings>

  <system.web>
    <machineKey validationKey="978CF7A270F0D4F6A5A37E9CD0E85CB4C2C529BCC9A81B760497BF0466E4F51F29763ED55F9CF07459C4E6387A9FA96976D6401C160046534F9C3F7895F7B2AD" decryptionKey="5A0A43B77E37F6812BDB155832AB2187E6D6E95827A843DBCC73AE6FD71B0CCA" validation="SHA1" decryption="AES" />
    
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider" type="RatherThis.Custom.CustomMembershipProvider" connectionStringName="EFDbContext"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <trust level="Full" />

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/" timeout="2880" />
    </authentication>

    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/error/404"/>
      <error statusCode="500" redirect="/error/500"/>
    </customErrors>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
