@{
    ViewBag.Title = "About RatherThis.com | RatherThis";
}

<div class="misc">
<h2>ABOUT RATHERTHIS.COM</h2>
<p>
     We want to hear your interesting 'would you rather' questions that you ask your friends. Add your questions or check out what
     others have asked. Find a great conversation starter or one that lets you really think about yourself and your decision.
</p>
</div>
